@page "{id}"
@model DetailsModel
@{
    ViewData["Title"] = "Details page";
}

<br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6" style="width:10% !important;margin-left:0% !important;">
            <div id="leftApiImageDiv"></div>
        </div>
        <div class="col-md-6" style="width:40% !important;margin-left:50% !important;">
            <h2 class="white-text-form">Detalhes</h2>
            <form id="detailsForm">
                <div class="form-group">
                    <label class="white-text-form" for="nomeField">Nome:</label>
                    <input type="text"  class="form-control" id="nomeField">
                </div>
                <div class="form-group">
                    <label class="white-text-form" for="descricaoField">Descrição:</label>
                    <textarea class="form-control" id="descricaoField"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Atualizar</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const imageInfo = @Html.Raw(Json.Serialize(Model.MemeCatalog));

        if (Array.isArray(imageInfo) && imageInfo.length > 0) {
            const imageData = imageInfo[0];

            const leftApiImageDiv = document.getElementById('leftApiImageDiv');
            const image = document.createElement('img');
            image.src = imageData.link;
            image.style = "width:700% !important;margin-left:0% !important;"
            leftApiImageDiv.appendChild(image);


            const nomeField = document.getElementById('nomeField');
            const descricaoField = document.getElementById('descricaoField');
            const videoCheckbox = document.getElementById('videoCheckbox');
            const linkField = document.getElementById('linkField');

            nomeField.value = imageData.name;
            descricaoField.value = imageData.description;

            const detailsForm = document.getElementById('detailsForm');
 
        }
    </script>
}