.component-item {
    text-align: center;
    display: inline-block;
    width: 160px;
    height: 200px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
}

.component-div {
    margin-bottom: 1.5rem;
    margin-inline: 5px;
    left: 0%;
    width: 160px;
    height: 200px;
    display: inline-block;
}

.component-thumbnail {
    margin: 15px auto;
    display: flex;
    width: 140px;
    height: 118px;
}

.component-name {
    margin-top: .3rem;
    margin-left: auto;
    font-family: 'Marko One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}