@model Fiap.TechChallenge.Api.Application.Dtos.MemeDto

<form asp-page="./MemeDetails" method="get">
    <button class="component-item">
        @if (!Model.IsVideo)
        {
            <img class="component-thumbnail" src="@Model.Link" />
        }
        <div class="component-name">
            <span>@Model.Name</span>
        </div>
    </button>
    <input type="hidden" asp-for="@Model.Id" name="id" />
</form>
