@model Fiap.TechChallenge.Api.Application.Dtos.MemeDto

<form>
    <img class="component-thumbnail" src="@Model.Link" />
    <div class="component-name">
        <span>@Model.Name</span>
    </div>
</form>
